---
import Layout from '../layouts/Layout.astro';
import Abstract from '../components/Abstract.astro';
import Works from '../components/Works.astro';

---

<Layout title='hunt-kingyo'>
	<Abstract />
	<div class="divider px-3"></div>
	<Works />
	<div class="divider px-3"></div>
</Layout>
