<div class="carousel w-full">
    <div id="slide1" class="carousel-item relative w-full h-[61vh]">
        <div class="hero bg-base-100 h-full">
            <div class="hero-content flex-col">
                <video class="h-[55vh]" autoplay loop muted controlslist="nodownload" src="/assets/CafeOre_Logo_3s_gv_libvpx.webm"></video>
                <a class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center" href="works/2024_09_cafeore_cm">
                <div class="text-center text-white p-20">
                    <h2 class="text-4xl font-bold py-3">筑波大学 有志団体「珈琲・俺」の雙峰祭向けCM制作</h2>
                    <p>筑波大学の有志で活動するハンドドリップコーヒーサークル「珈琲・俺」の雙峰祭出店に際してCMを制作しました。
                        雙峰祭当日のステージ生配信で使用されたほか、珈琲・俺の公式Instagramアカウントでも公開されています。
                    </p>
                </div>
                </a>
                <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                    <a href="#slide3" class="btn btn-circle">❮</a>
                    <a href="#slide2" class="btn btn-circle">❯</a>
                </div>
            </div>
        </div>
    </div>
        <div id="slide2" class="carousel-item relative w-full h-[61vh]">
        <div class="hero bg-base-100 h-full">
            <div class="hero-content flex-col">
                <video class="h-[55vh]" autoplay loop muted controlslist="nodownload" src="/assets/sohosai_logo_animation.webm"></video>
                <a class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center" href="works/2024_11_sohosai_digest_2024">
                <div class="text-center text-white p-20">
                    <h2 class="text-4xl font-bold py-3">筑波大学 第50回雙峰祭ダイジェスト</h2>
                    <p>筑波大学学園祭実行委員会 情報メディアシステム局として、第50回筑波大学学園祭「雙峰祭」のダイジェスト映像を制作しました。
                        映像制作を担当する部門の長だったため、全体の進捗の管理も行いました。
                    </p>
                </div>
                </a>
                <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                    <a href="#slide1" class="btn btn-circle">❮</a>
                    <a href="#slide3" class="btn btn-circle">❯</a>
                </div>
            </div>
        </div>
    </div>
        <div id="slide3" class="carousel-item relative w-full h-[61vh]">
        <div class="hero bg-base-100 h-full">
            <div class="hero-content flex-col">
                <img
                class="object-scale-down h-[55vh]"
                src="/assets/app_image.jpg"
                loading="lazy"
                alt="picture of the software"
                />
                <a class="absolute inset-0 bg-black bg-opacity-40 flex items-center justify-center" href="works/2024_12_electron_ffmpeg_gui">
                <div class="text-center text-white p-20">
                    <h2 class="text-4xl font-bold py-3">ElectronとFFmpegを用いた動画変換ソフトウェアの開発</h2>
                    <p>ElectronやReact、FFmpegを用いて動画のコーデックを変換するソフトウェアを開発しました。
                    </p>
                </div>
                </a>
                <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                    <a href="#slide2" class="btn btn-circle">❮</a>
                    <a href="#slide1" class="btn btn-circle">❯</a>
                </div>
            </div>
        </div>
    </div>
</div>