<div class="hero bg-base-100 min-h-auto">
    <div class="hero-content flex-col lg:flex-row">
        <img
          src="/assets/my_icon.jpg"
          class="max-w-sm rounded-lg shadow-2xl" />
        <div class="px-6">
            <h1 class="text-5xl font-bold">hunt-kingyo</h1>
            <p class="py-6">
                動画撮影、Davinci Resolveを用いた映像制作を行っています。
                複数台のカメラとスイッチャーを用いた生配信の運営経験や、Electron、Reactを使用したソフトウェアの開発の経験があります。
            </p>
        </div>
    </div>
</div>