<div class="carousel w-full">
    <div id="slide1" class="carousel-item relative w-full">
        <div class="hero bg-base-100 min-h-auto">
            <div class="hero-content flex-col lg:flex-row">
                <video controls autoplay loop muted controlslist="nodownload" src="/assets/sohosai_logo_animation.webm"></video>
                {/* 動画の上のテキストコンテンツ 
                <div class="absolute bottom-4 right-4 p-6 bg-white/80 backdrop-blur-sm rounded-lg w-1/1.618 max-w-sm">
                    <h2 class="text-xl font-bold text-gray-900">雙峰祭ダイジェスト</h2>
                    <p class="mt-2 text-gray-800 text-sm">
                        筑波大学学園祭実行委員会 情報メディアシステム局として、第50回筑波大学学園祭「雙峰祭」のダイジェスト映像を制作しました。
                        映像制作を担当する部門の長だったため、全体の進捗の管理も行いました。
                    </p>
                </div>*/}
                
                
                <a class="absolute inset-0 bg-black bg-opacity-40 flex items-center bottom-4" href="works/2024_11_sohosai_digest_2024">
                <div class="text-center text-white p-20">
                    <h2 class="text-4xl font-bold">筑波大学 第50回雙峰祭ダイジェスト</h2>
                    <p>筑波大学学園祭実行委員会 情報メディアシステム局として、第50回筑波大学学園祭「雙峰祭」のダイジェスト映像を制作しました。
                        映像制作を担当する部門の長だったため、全体の進捗の管理も行いました。
                    </p>
                </div>
                </a>
                <div class="absolute left-5 right-5 top-1/2 flex -translate-y-1/2 transform justify-between">
                    <a href="#slide4" class="btn btn-circle">❮</a>
                    <a href="#slide2" class="btn btn-circle">❯</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="hero bg-base-100 min-h-auto">
    <div class="hero-content flex-col lg:flex-row">
        <img
          src="/assets/my_icon.jpg"
          class="max-w-sm rounded-lg shadow-2xl" />
        <div class="px-6">
            <h1 class="text-5xl font-bold">hunt-kingyo</h1>
            <p class="py-6">
                動画撮影、Davinci Resolveを用いた映像制作を行っています。
                複数台のカメラとスイッチャーを用いた生配信の運営経験や、Electron、Reactを使用したソフトウェアの開発の経験があります。
            </p>
        </div>
    </div>
</div>