<div class="navbar bg-base-100">
    <div class="flex-1 pt-3">
        <a class="btn btn-ghost text-xl" href="/">
            <img
                class="rounded-full"
                width="50"
                height="50"
                src="/assets/my_icon.jpg"
            />
            <div class="pl-1">
                hunt-kingyo
            </div>
        </a>
    </div>
</div>