---
interface Post {
	url: string;
	frontmatter: {
		title:string;
		from:string;
    to:string;
		description: string;
	};
}

const posts: Post[] = Object.values(await import.meta.glob('../pages/works/*.md', { eager: true }))
  .map((post: any) => ({
    url: post.url,
    frontmatter: post.frontmatter
  }));
---

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
    {posts.map((post) => (
      <div class="card bg-base-100 shadow-xl">
        <div class="card-body">
          <h2 class="card-title">{post.frontmatter.title}</h2>
          <p>{post.frontmatter.from +  (post.frontmatter.to? " - " + post.frontmatter.to : "") + " | "}{post.frontmatter.description}</p>
          <div class="card-actions justify-end">
            <a href={post.url} class="btn btn-primary">詳細を見る</a>
          </div>
        </div>
      </div>
    ))}
</div>