---
import Layout from "./Layout.astro";

import type { MarkdownLayoutProps } from "astro";

type Props = MarkdownLayoutProps<{

    title: string;
    from: string;
    to:string;
    description: string;
}>;

const { frontmatter, url } = Astro.props;

---

<Layout title={frontmatter.title}>
    <div class="prose prose p-6">
        <h1>{frontmatter.title}</h1>
        <h3 class="mb-6">{frontmatter.from +  (frontmatter.to? " - " + frontmatter.to : "") + " | "}{frontmatter.description}</h3>
        <slot />
        <a href="/" class="btn btn-primary mt-10">戻る</a>
    </div>
    <div class="divider"></div>
</Layout>
